/*
 * Class: SWE2511 - Layout Managers
 * Flex Layout Exercise 2
	Name: Kaiden Pollesch
	Class Section: 111
 */

/*
 * Set the body to no spacing
 *    this puts the navigation bar at the exact top and left of the page
 *    and forces it to stretch the entire browser window
 */
body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(162,237,134);
    justify-content: center;
    align-items: center;
    padding: 5px;
    z-index: 1000   ;
}

.nav {
    border: 1px solid black;
    padding: 5px;
    margin: 0 5px;
    background-color: #fff;
}