/*
 * Class: SWE2511 - Layout Managers
 * Flex Layout Exercise 1
 * Name(s): Kaiden Pollesch
 * Class Section: 111
 */

.cards {
    display: flex;
    overflow-x: auto;
    gap: 5px;
}

.card {
    width: 300px;
    border: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
    flex-shrink: 0;
}