/**
Class: SWE2511 - Coin Flip Charter
Name: Kaiden Pollesch
Class Section: 111
 */

body {
    padding: 20px;
    background-color: lightblue;
}

/* Section Styles */
.section {
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

.section h4 {
    margin-bottom: 15px;
}

/* Data Filter Styles */
.filter-group {
    margin-top: 200px;
    margin-bottom: 10px;
}

.filter-group label {
    margin-right: 10px;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
}
button {
    margin: 20px 20px 20px 0;
}

/* Results Data Styles */
#table {
    width: 100%;
    border-collapse: collapse;
}

#table thead tr th {
    text-align: left;
    padding: 10px;
    border-bottom: 3px solid black
}

#table tbody tr td {
    padding: 5px;
    border-bottom: 1px solid lightgray;
}